@model Employer

<div class="x_content">

    <form method="post" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate>

        <span class="section">İşçi dəyişdir</span>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="Photo" class="form-control col-md-7 col-xs-12" placeholder="Şəkil">
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="Name" class="form-control col-md-7 col-xs-12" placeholder="Ad">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="Email" class="form-control col-md-7 col-xs-12" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="PhoneNumber" class="form-control col-md-7 col-xs-12" placeholder="Mobil nömrə">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="Salary" class="form-control col-md-7 col-xs-12" placeholder="Maaş">
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="Birthday" class="form-control col-md-7 col-xs-12" placeholder="Doğum tarixi">
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="positionId">
                    @foreach (Position position in ViewBag.Positions)
                    {
                        <option value="@position.Id">@position.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <a asp-action="Index" class="btn btn-primary">Geri</a>
                <button type="submit" class="btn btn-success">Əlavə Et</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}