@model Cost
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">QRUP YARAT</h5>

            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">


                    <div class="mb-3 form-group">
                        <label asp-for="Amount" class="form-label">Məbləğ</label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>


                    
                    <div class="mb-3 form-group">
                    <label asp-for="By" class="form-label">Daxil edən şəxs</label>
                    <input asp-for="By" class="form-control" />
                    <span asp-validation-for="By" class="text-danger"></span>

                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Description" class="form-label">Məlumat</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>


                    <button type="submit" class="btn btn-primary">Əlavə Et</button>
                    <a asp-action="Index" class="btn btn-danger">GERI</a>
                </form>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}