@model LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <div asp-validation-summary="ModelOnly" style="color:red"></div>
                    <form method="post">
                        <h1>Restoran Sistemi</h1>
                        <div>
                            <input asp-for="Username" class="form-control" placeholder="İstifadəçi adı" required="" />
                            <span asp-validation-for="Username" style="color:red"></span>
                        </div>
                        <div>
                            <input asp-for="Password" class="form-control" placeholder="Şifrə" required="" />
                            <span asp-validation-for="Password" style="color:red"></span>
                        </div>

                        <div style="display:flex;justify-content:space-between">
                            <div class="login-toggle-btn">
                                <input asp-for="IsRemember">
                                <label for="remember">Yadda saxla</label>

                            </div>
                            <button class="btn btn-default submit" type="submit">Daxil ol</button>
                        </div>

                        <div class="clearfix"></div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
