@model ResetPasswordVM

<div class="x_content">

    <div asp-validation-summary="ModelOnly" style="color:red"></div>

    <form method="post" class="form-horizontal form-label-left" novalidate>

        <span class="section">Şifrəni dəyişdir</span>


        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="OldPassword" class="form-control col-md-7 col-xs-12" placeholder="Əvvəlki şifrə">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>


        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="Password" class="form-control col-md-7 col-xs-12" placeholder="Yeni şifrə">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>


        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="CheckPassword" class="form-control col-md-7 col-xs-12" placeholder="Təkrar şifrə">
                <span asp-validation-for="CheckPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <a asp-action="Index" class="btn btn-primary">Geri</a>
                <button type="submit" class="btn btn-success">Dəyiş</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
